@model IEnumerable<BookShop_WebApplication.Models.CART>

@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.BodyHomePage = 0;
    ViewBag.Active = 5;
    ViewBag.About_bg = 1;
    ViewBag.abouttitle = "My Cart";
}


<div class="container">
    <div class="card">
        <table class="table w-100" style="height: 400px">
            <h2>You have no items in your shopping cart.</h2>

        </table>
        <div style="padding:10px">
            <p> <a class="btn btn-danger text-white float-right store-btn" style="margin-left: 10px;" href="@Url.Action("BookList", "Book")"><i class="fa-solid fa-trash"></i> Remove</i></a></p>
            <p> <a class="btn btn-warning text-white float-left store-btn" href="@Url.Action("BookList", "Book")"><i class="fa-solid fa-arrow-left"> Back</i></a></p>
        </div>

    </div>



</div>