
@{
    ViewBag.Title = "ErrorView";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.BodyHomePage = 0;
   
    ViewBag.About_bg = 1;
    ViewBag.abouttitle = "Error";
}


<div class="Books">
    <div class="container" style="height: 600px">
        <h1>Có phải bạn đang gặp lỗi khi chạy trang này!</h1>
        <h3>Cách xử lí rất đơn giản! Do đây là 1 api tin tức nên đường dẫn apiUrl sẽ tồn tại một khoảng thời gian nhất định. Vui lòng copy đường dẫn này <a style="text-decoration:underline; color:blue">https://newsapi.org/v2/everything?q=Apple&from=2023-12-04&sortBy=popularity&apiKey=b43962cddcb94fc09284e58c40fb1c25</a> chạy trên trang Gogole, Microsoft Egde,... để cập nhật lại tin tức có trong đường dẫn, sau đó thì hãy thực thi lại trang này!</h3>
        </div>
    </div>
